@font-face{
	font-family: 'Goot Times';
	src: url('good times rg.ttf')  format('truetype');
}


html {
	font-family:'Goot Times', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
	font-family:'Goot Times', sans-serif;
}