<form id="search-form" method="POST">

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search Tabs" aria-label="Search Tabs" ng-model="searchtabs">
    <span class="input-group-addon">
      <a id="clear-search" ng-click="clearSearchTabs()">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    </span>
  </div>
</form>

<div class="tab-list list-group">

  <a href="#/view/{{song.id}}" class="list-group-item" ng-repeat="song in songs | orderBy:'name' | filter:searchtabs">
    {{ song.name }}
    <span class="badge">{{ song.key }}</span> 
  </a>


</div>